{{#extends 'base'}}

{{#block "content"}}

<form method="POST">
    <label>What's the problem?</label>
    <input type="text" name="fault" class="form-control"/>
    <input type="submit" value="Report" class="btn btn-primary mt-3"/>
</form>

{{/block}}

{{/extends}}