{{#extends 'base'}}

{{#block "content"}}
<form method="post">
    <div>
        <label>Title</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div>
        <label>Plot</label>
        <input type="text" name="plot" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>
{{/block}}

{{/extends}}