{{#extends 'base'}}

{{#block "content"}}

<h1>Read</h1>
<div id="movie-list">
    {{#each movies}}
    <div class="card" style="margin-top: 10px;">
        <div class="card-body" style="width: 18rem;">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.plot}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {{/each}}
</div>

{{/block}}

{{/extends}}